:root {
  --color-background-1: #fff9f2;
  --color-background-2: #c5d5c8;
  --color-highlight-1: #ddc98a;
  --color-highlight-2: #68967a;
  --color-main-1: #676f54;
  --color-main-2: #493c32;
  --color-main-3: #242424;

  /* dynamic font sizes */
  --fs-h1: clamp(1.5rem, 1.25rem + 12vw, 25rem);
  --fs-h1-stroke: clamp(1px, 0.7px + 0.5vw, 5px);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--color-background-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "arsenica";
  src: url("assets/fonts/ArsenicaTrial-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "arsenica";
  src: url("assets/fonts/ArsenicaTrial-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.hero-header {
  background: url("src/assets/backgrounds/bg-flowers-00-NE.png") top right
      no-repeat,
    url("src/assets/backgrounds/bg-flowers-00-SW.png") bottom left no-repeat
      var(--color-background-1);
  background-size: 90% auto, 90% auto;
  min-height: 100svh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: var(--color-main-1);
}

.hero-title {
  line-height: 1.1;
  font-size: var(--fs-h1);
  font-family: arsenica;
  font-weight: normal;
  font-kerning: auto;
  -webkit-text-stroke: var(--fs-h1-stroke);
  margin: 0;
  padding-block: calc(var(--fs-h1) / 5);
}

.heading-block {
  display: block;
  text-align: center;
}

.happy-couple-dec {
  position: absolute;
  left: 5%;
  top: 2%;
  width: clamp(220px, 100px + 15vmax, 65vi);
}

.full-bleed {
  width: 100vw;
  min-height: 65dvh;
  background-color: var(--color-highlight-1);
  background-size: cover;

  /* this p styles are placeholder */
  p {
    margin-block: 0;
    margin-inline: 4ch;
    padding-block: 4ch;
    color: var(--color-main-2);
  }
}

@media only screen and (width >=600px) {
  .hero-header {
    background-size: clamp(45vw, 250px + 30vw, 75vw) auto;
  }
}

@media only screen and (min-aspect-ratio: 1.85) {
  :root {
    --fs-h1: clamp(1.15rem, 1rem + 18vh, 25rem);
    --fs-h1-stroke: clamp(1px, 0.65px + 0.85vh, 6px);
  }
}
