:root {
  --color-background-1: #fff9f2;
  --color-background-2: #c5d5c8;
  --color-highlight-1: #ddc98a;
  --color-highlight-2: #68967a;
  --color-main-1: #676f54;
  --color-main-2: #5c6244;
  --color-main-3: #493c32;
  --color-main-4: #242424;

  /* dynamic font sizes */
  --fs-h1: clamp(1.5rem, 1.25rem + 12vw, 25rem);
  --fs-h1-stroke: clamp(1px, 0.7px + 0.5vw, 5px);

  box-sizing: border-box;
  background-color: var(--color-background-1);
  font-weight: 400;
  font-family: Arapey, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: Arsenica;
  src: url("/fonts/Arsenica/ArsenicaTrial-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: Arsenica;
  src: url("/fonts/Arsenica/ArsenicaTrial-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: Arapey;
  src: url("/fonts/Arapey/Arapey-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-style: italic;
  font-family: Arapey;
  src: url("/fonts/Arapey/Arapey-Italic.ttf") format("truetype");
  font-display: swap;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.layout-wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(42rem, 66%)
    1fr;
}

.layout-wrapper > .col-left {
  grid-column: 1;
  padding-inline-start: 3ch;
}

.layout-wrapper > .col-right {
  grid-column: 3;
  padding-inline-end: 3ch;
}

.span-2-rows {
  grid-row: span 2;
}

.justify-self-end {
  justify-self: end;
}

.align-items-center {
  align-items: center;
}

.align-self-end {
  align-self: end;
}

.layout-wrapper > * {
  grid-column: 2;
}

.full-bleed {
  grid-column: 1 / -1;
  width: 100dvw; /* dvw fixes weird initial zoom in firefox iOS when reloading in landscape */
}

.temp-placeholder {
  /* min-height: 65dvh; */
  background-color: var(--color-highlight-2);

  /* this p styles are placeholder */
  p {
    margin-block: 0;
    padding-block: 4ch;
    color: var(--color-main-2);
  }
}

.hero-header {
  position: relative;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  background: url("/images/backgrounds/bg-flowers-00-NE.png") top right no-repeat;
  background-size: 90% auto;
  color: var(--color-main-1);
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding-block: calc(var(--fs-h1) / 5);
  font-weight: normal;
  font-size: var(--fs-h1);
  font-family: Arsenica, cursive;
  line-height: 1.1;
  text-align: center;
  transform: translate(-50%, -50%);
  font-kerning: auto;
  -webkit-text-stroke: var(--fs-h1-stroke);
}

.heading-block {
  display: block;
}

.happy-couple-deco {
  position: absolute;
  bottom: 50%;
  left: 3%;
  z-index: -1;
  width: clamp(150px, 70px + 25vmin, 600px);
  filter: sepia(0.45);
}

.hero-flowers-sw-deco {
  position: absolute;
  bottom: 0;
  left: 0;
  /* display: none; */
  width: 90%;
}

.announcement {
  padding-block: 1rem;
  background-color: var(--color-background-2);
  color: var(--color-main-2);
  line-height: normal;
}

.announcement-text-md,
.announcement-text-lg,
.announcement-title {
  margin-block: 0.75rem;
}

.announcement-text-md {
  --fs-p: clamp(0.5rem, 0.3rem + 4vw, 1.3rem);
  /* font-size: 2.5rem; */
  font-size: var(--fs-p);
}

.announcement-text-lg {
  --fs-p: clamp(0.5rem, 0.35rem + 8vw, 2.3rem);
  /* font-size: 4.3rem; */
  /* font-size: 5rem; */
  font-size: var(--fs-p);
}

.announcement-title {
  --fs-p: clamp(0.7rem, 0.5rem + 9vw, 3.7rem);

  /* font-size: 5rem; */
  font-size: var(--fs-p);

  /* font-style: italic; */
  /* font-size: 6rem; */
  /* font-weight: 400; */
  font-synthesis-weight: auto;
}

/*
.wine-glasses,
.wedding-rings {
  max-width: 161px;
}
*/

@media only screen and (width >= 600px) {
  .hero-header {
    background-size: clamp(45vw, 250px + 30vw, 75vw) auto;
  }

  .hero-flowers-sw-deco {
    width: clamp(45vw, 250px + 30vw, 75vw);
  }
}

@media only screen and (height <= 550px) {
  .hero-header {
    background-size: clamp(45vmin, 250px + 30vmin, 75vmin) auto;
  }

  .hero-flowers-sw-deco {
    width: clamp(45vmin, 250px + 30vmin, 75vmin);
  }
}

@media only screen and (aspect-ratio >= 1.85) {
  :root {
    --fs-h1: clamp(1.15rem, 1rem + 18vh, 25rem);
    --fs-h1-stroke: clamp(1px, 0.65px + 0.85vh, 6px);
  }
}

@media only screen and (aspect-ratio >= 0.71) {
  .happy-couple-deco {
    bottom: -3%;
    left: 6%;
    width: clamp(150px, 90px + 30vmin, 600px);
  }
}
